<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClientServer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
<div class="container">
    <table class="table table-bordered text-center">
        <tr>
            <td colspan="2">Status system</td>
        </tr>
        {% for i in data %}
            <tr>
                <td colspan="2">{{ i }}</td>
            </tr>
            {% for j in data[i] %}
                <tr>
                    <td>{{ j }}</td>
                    <td>{{ 'on' if (data[i][j] == true) else 'off' }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>

    <table class="table table-bordered">
        <tr>
            <td><a href="/1/on" class="btn btn-primary btn-lg btn-block">1 on</a></td>
            <td><a href="/1/off" class="btn btn-danger btn-lg btn-block">1 off</a></td>
        </tr>
        <tr>
            <td><a href="/2/on" class="btn btn-primary btn-lg btn-block">2 on</a></td>
            <td><a href="/2/off" class="btn btn-danger btn-lg btn-block">2 off</a></td>
        </tr>
        <tr>
            <td><a href="/3/on" class="btn btn-primary btn-lg btn-block">3 on</a></td>
            <td><a href="/3/off" class="btn btn-danger btn-lg btn-block">3 off</a></td>
        </tr>
    </table>
</div>
</body>
</html>